body {
  color: white;
  background-color: grey;
}

#headPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#bodyPage {
  display: flex;
  flex-flow: column wrap;
}

#firstBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
  height: 60vh;
}

#secondBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#schedule,
#prices,
#searchAreaSelector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#animal, #employee {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#scheduleSearchResults {
  border: 1px;
  padding: 20px 0 0 0;
  text-align: center;
}

#pricesTable {
  border: 1px;
  padding: 0 0 20px 0;
  text-align: center;
}

th {
  color: black;
  background-color: lime;
  padding: 2px 40px 2px 40px;
}

td {
  padding: 10px;
  background-color: black;
}

#pricesFound {
  background-color: white;
  color: green;
  font-size: 22px;
}